# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: bun # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      tailwindcss:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/postcss"
          - "postcss"
          - "prettier-plugin-tailwindcss"
      next:
        patterns:
          - "next"
          - "@types/next"
          - "eslint-config-next"